@inherits LayoutComponentBase

<PageTitle>Virtual Tutor</PageTitle>

<div class="top-bar navbar navbar-dark d-flex justify-content-center" style="background-color: lightgrey;">
    <a class="navbar-brand text-center" href="/" style="font-weight: bold; font-size: 30px;color:black; ">Virtual Tutor</a>
</div>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>
